<!doctype html>
{% load static %}


<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Photostorage Gallery</title>
    <meta name="description" content="Photostorage Gallery">
    <meta name="author" content="content">    
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/gallery.css" %}">
    <script src="{% static "js/main.js" %}"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">        
        <a href="/">
          <div class="header-element" id="logo">
            <img src="{% static "img/camera.png" %}"></img>
          </div>  
        </a>        
        <a href={% url 'pic_upload' %}>
          <div class="header-element" id="button-new">
            <p>New</p>
          </div>
        </a>
      </div>        
      <div class="content">
        {% block content %}{% endblock %}
      </div>        
      <div class="footer">
        <p>© {% now "Y" %}</p>
        <p>Powered by <a href="https://www.djangoproject.com/">Django</a></p>
      </div> 
    </div>
  </body>
</html>