{% extends "index.html" %}
{% load static %}

{% block content %}
    <div>      
      <h3>{{ pic.pic_title }}</h3>
      <img src="{{ pic.pic_image.url }}" id="fullsize"></img>
      <p class="date">[{{pic.pic_date.date.year}}/{{pic.pic_date.date.month}}/{{pic.pic_date.date.day}} at {{pic.pic_date.time}}] by anonymous</p>
      <pre class="textcomment">{{ pic.pic_text }}</pre>
      <h3>Comments</h3>
      {% for comment in comments %}
        <div class="h_line"></div>
        <div class="commentblock">   
          <p class="date">[{{comment.comment_date.date.year}}/{{comment.comment_date.date.month}}/{{comment.comment_date.date.day}} at {{comment.comment_date.time}}] by anonymous</p>
          <pre class="textcomment">{{comment.comment_text}}</pre>
        </div>
                
      {% endfor %}
      <h3>Add your comment</h3>
      <form method="POST" >
        {% csrf_token %}
        <table class="form">
          {{ form_comment.as_table }}
        </table>
        <button type="submit">Add</button>
      </form>
      
    </div>
    
{% endblock %}