{% extends "index.html" %}
{% load static %}

{% block content %}
  {% for pic in pictures %}
    
    <div class="frame" >
      <div class="sq_preview">
        <a href="{% url 'pic_detail' pk=pic.pk %}"><img src="{{ pic.pic_image.url }}"></img></a>
        <div class="popup-frame">
          <p>{{ pic.pic_title }}</p>  
          <p class="date">{{pic.pic_date.date.year}}/{{pic.pic_date.date.month}}/{{pic.pic_date.date.day}} at {{pic.pic_date.time}}</p>
        </div>  
        
      </div> 
      
    </div>
  {% endfor %}    
{% endblock %}